<div style="background-color: #cccccc;" ng-app="ajamiApp" class="ng-scope">
	<div class="dt-component ng-scope" ng-controller="DiamondsTableController">
		<div class="dt-search container" style="width: 100%;">
			<div class="row dt-search-box">
				<div class="col-xs-6 dt-search-box">
					<input type="text" id="stockSearch" ng-model="search['Stock #']" class="ng-pristine ng-untouched ng-valid ng-empty">
					<label for="stockSearch">Stock #</label>						
				</div>
				<div class="col-xs-6 dt-search-box">
					<input type="text" id="certificateSearch" ng-model="search['Certificate #']" class="ng-pristine ng-untouched ng-valid ng-empty">
					<label for="certificateSearch">Certificate #</label>
				</div>
			</div>
			
			<div class="row dt-search-numberRange">
				<div class="col-xs-3 dt-search-numberRangeFrom">
					<input id="sizeFrom" type="number" ng-model="search['Size']['from']" class="ng-pristine ng-untouched ng-valid ng-empty">
					<label for="sizeFrom">Min. size</label>
				</div>
				<div class="col-xs-3 dt-search-numberRangeTo">
					<input id="sizeTo" type="number" ng-model="search['Size']['to']" class="ng-pristine ng-untouched ng-valid ng-empty">
					<label for="sizeTo">Max. size</label>
				</div>
				<div class="col-xs-3 dt-search-numberRangeFrom">
					<input id="priceFrom" type="number" ng-model="search['RapNet Price']['from']" class="ng-pristine ng-untouched ng-valid ng-empty">
					<label for="priceFrom">Min. price</label>
				</div>
				<div class="col-xs-3 dt-search-numberRangeTo">
					<input id="priceTo" type="number" ng-model="search['RapNet Price']['to']" class="ng-pristine ng-untouched ng-valid ng-empty">
					<label for="priceTo">Max. price</label>
				</div>
			</div>
			
			<div class="dt-search-primary">
				<div class="dt-search-multiple">
					<div id="shapeSelect" ng-dropdown-multiselect="" options="search.options['Shape']" selected-model="search['Shape']" translation-texts="{buttonDefaultText: 'Shapes'}" extra-settings="{template: '', dynamicTitle: false}" class="ng-isolate-scope"><div class="multiselect-parent btn-group dropdown-multiselect" ng-class="{open: open}"><div ng-transclude="toggleDropdown" ng-click="toggleDropdown()"><button ng-disabled="disabled" type="button" class="dropdown-toggle ng-binding ng-scope btn btn-default" ng-class="settings.buttonClasses">Shapes&nbsp;<span class="caret"></span></button></div><!-- ngIf: open --></div></div>
				</div>
				<div class="dt-search-multiple">
					<div id="colorSelect" ng-dropdown-multiselect="" options="search.options['Color']" selected-model="search['Color']" translation-texts="{buttonDefaultText: 'Colors'}" extra-settings="{template: '', dynamicTitle: false}" class="ng-isolate-scope"><div class="multiselect-parent btn-group dropdown-multiselect" ng-class="{open: open}"><div ng-transclude="toggleDropdown" ng-click="toggleDropdown()"><button ng-disabled="disabled" type="button" class="dropdown-toggle ng-binding ng-scope btn btn-default" ng-class="settings.buttonClasses">Colors&nbsp;<span class="caret"></span></button></div><!-- ngIf: open --></div></div>
				</div>
				<div class="dt-search-multiple">
					<div id="claritySelect" ng-dropdown-multiselect="" options="search.options['Clarity']" selected-model="search['Clarity']" translation-texts="{buttonDefaultText: 'Clarity'}" extra-settings="{template: '', dynamicTitle: false}" class="ng-isolate-scope"><div class="multiselect-parent btn-group dropdown-multiselect" ng-class="{open: open}"><div ng-transclude="toggleDropdown" ng-click="toggleDropdown()"><button ng-disabled="disabled" type="button" class="dropdown-toggle ng-binding ng-scope btn btn-default" ng-class="settings.buttonClasses">Clarity&nbsp;<span class="caret"></span></button></div><!-- ngIf: open --></div></div>
				</div>
				<div class="dt-search-multiple">
					<div id="labSelect" ng-dropdown-multiselect="" options="search.options['Lab']" selected-model="search['Lab']" translation-texts="{buttonDefaultText: 'Labs'}" extra-settings="{template: '', dynamicTitle: false}" class="ng-isolate-scope"><div class="multiselect-parent btn-group dropdown-multiselect" ng-class="{open: open}"><div ng-transclude="toggleDropdown" ng-click="toggleDropdown()"><button ng-disabled="disabled" type="button" class="dropdown-toggle ng-binding ng-scope btn btn-default" ng-class="settings.buttonClasses">Labs&nbsp;<span class="caret"></span></button></div><!-- ngIf: open --></div></div>
				</div>
				<div class="dt-search-multiple">
					<div id="cgradeSelect" ng-dropdown-multiselect="" options="search.options['Cut Grade']" selected-model="search['Cut Grade']" translation-texts="{buttonDefaultText: 'Cut Grades'}" extra-settings="{template: '', dynamicTitle: false}" class="ng-isolate-scope"><div class="multiselect-parent btn-group dropdown-multiselect" ng-class="{open: open}"><div ng-transclude="toggleDropdown" ng-click="toggleDropdown()"><button ng-disabled="disabled" type="button" class="dropdown-toggle ng-binding ng-scope btn btn-default" ng-class="settings.buttonClasses">Cut Grades&nbsp;<span class="caret"></span></button></div><!-- ngIf: open --></div></div>
				</div>
				<div class="dt-search-multiple">
					<div id="polishSelect" ng-dropdown-multiselect="" options="search.options['Polish']" selected-model="search['Polish']" translation-texts="{buttonDefaultText: 'Polish'}" extra-settings="{template: '', dynamicTitle: false}" class="ng-isolate-scope"><div class="multiselect-parent btn-group dropdown-multiselect" ng-class="{open: open}"><div ng-transclude="toggleDropdown" ng-click="toggleDropdown()"><button ng-disabled="disabled" type="button" class="dropdown-toggle ng-binding ng-scope btn btn-default" ng-class="settings.buttonClasses">Polish&nbsp;<span class="caret"></span></button></div><!-- ngIf: open --></div></div>
				</div>
				<div class="dt-search-multiple">
					<div id="symSelect" ng-dropdown-multiselect="" options="search.options['Symmetry']" selected-model="search['Symmetry']" translation-texts="{buttonDefaultText: 'Symmetry'}" extra-settings="{template: '', dynamicTitle: false}" class="ng-isolate-scope"><div class="multiselect-parent btn-group dropdown-multiselect" ng-class="{open: open}"><div ng-transclude="toggleDropdown" ng-click="toggleDropdown()"><button ng-disabled="disabled" type="button" class="dropdown-toggle ng-binding ng-scope btn btn-default" ng-class="settings.buttonClasses">Symmetry&nbsp;<span class="caret"></span></button></div><!-- ngIf: open --></div></div>
				</div>
				<div class="dt-search-multiple">
					<div id="flouinSelect" ng-dropdown-multiselect="" options="search.options['Fluorescence Intensity']" selected-model="search['Fluorescence Intensity']" translation-texts="{buttonDefaultText: 'Fluorescence Intensity'}" extra-settings="{template: '', dynamicTitle: false}" class="ng-isolate-scope"><div class="multiselect-parent btn-group dropdown-multiselect" ng-class="{open: open}"><div ng-transclude="toggleDropdown" ng-click="toggleDropdown()"><button ng-disabled="disabled" type="button" class="dropdown-toggle ng-binding ng-scope btn btn-default" ng-class="settings.buttonClasses">Fluorescence Intensity&nbsp;<span class="caret"></span></button></div><!-- ngIf: open --></div></div>
				</div>
				<div style="float: right; padding-top: 10px;">
					<a class="btn btn-primary" ng-href="http://www.ajami-diamonds.com/contact-us/" rel="noopener noreferrer" href="http://www.ajami-diamonds.com/contact-us/">Order</a>
				</div>
				<div style="float: right; padding-top: 10px;">
					<button ng-click="clear()" class="btn btn-primary">Clear</button>
				</div>
			</div>
		</div>
		
		
		
		<div class="dt-table">
			<table class="dt-table">
			<tbody><tr>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('Stock #')" ng-class="{'dt-selected-property': (propertyName === 'Stock #'), 'dt-property': (propertyName !== 'Stock #')}">
				Stock #
				<span class="sortorder ng-hide" ng-show="propertyName === 'Stock #'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('Shape.id')" ng-class="{'dt-selected-property': (propertyName === 'Shape.id'), 'dt-property': (propertyName !== 'Shape.id')}">
				Shape
				<span class="sortorder ng-hide" ng-show="propertyName === 'Shape.id'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('Size')" ng-class="{'dt-selected-property': (propertyName === 'Size'), 'dt-property': (propertyName !== 'Size')}">
				Size
				<span class="sortorder ng-hide" ng-show="propertyName === 'Size'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('Color.id')" ng-class="{'dt-selected-property': (propertyName === 'Color.id'), 'dt-property': (propertyName !== 'Color.id')}">
				Color
				<span class="sortorder ng-hide" ng-show="propertyName === 'Color.id'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('Clarity.id')" ng-class="{'dt-selected-property': (propertyName === 'Clarity.id'), 'dt-property': (propertyName !== 'Clarity.id')}">
				Clarity
				<span class="sortorder ng-hide" ng-show="propertyName === 'Clarity.id'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('Cut Grade')" ng-class="{'dt-selected-property': (propertyName === 'Cut Grade'), 'dt-property': (propertyName !== 'Cut Grade')}">
				Cut Grade
				<span class="sortorder ng-hide" ng-show="propertyName === 'Cut Grade'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('Polish')" ng-class="{'dt-selected-property': (propertyName === 'Polish'), 'dt-property': (propertyName !== 'Polish')}">
				Polish
				<span class="sortorder ng-hide" ng-show="propertyName === 'Polish'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('Symmetry')" ng-class="{'dt-selected-property': (propertyName === 'Symmetry'), 'dt-property': (propertyName !== 'Symmetry')}">
				Symmetry
				<span class="sortorder ng-hide" ng-show="propertyName === 'Symmetry'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('Fluorescence Intensity')" ng-class="{'dt-selected-property': (propertyName === 'Fluorescence Intensity'), 'dt-property': (propertyName !== 'Fluorescence Intensity')}">
				Fluorescence Intensity
				<span class="sortorder ng-hide" ng-show="propertyName === 'Fluorescence Intensity'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('Measurements')" ng-class="{'dt-selected-property': (propertyName === 'Measurements'), 'dt-property': (propertyName !== 'Measurements')}">
				Measurements
				<span class="sortorder ng-hide" ng-show="propertyName === 'Measurements'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('Depth %')" ng-class="{'dt-selected-property': (propertyName === 'Depth %'), 'dt-property': (propertyName !== 'Depth %')}">
				Depth %
				<span class="sortorder ng-hide" ng-show="propertyName === 'Depth %'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('Table %')" ng-class="{'dt-selected-property': (propertyName === 'Table %'), 'dt-property': (propertyName !== 'Table %')}">
				Table %
				<span class="sortorder ng-hide" ng-show="propertyName === 'Table %'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('Lab')" ng-class="{'dt-selected-property': (propertyName === 'Lab'), 'dt-property': (propertyName !== 'Lab')}">
				Lab
				<span class="sortorder ng-hide" ng-show="propertyName === 'Lab'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('Certificate #')" ng-class="{'dt-selected-property': (propertyName === 'Certificate #'), 'dt-property': (propertyName !== 'Certificate #')}">
				Certificate #
				<span class="sortorder ng-hide" ng-show="propertyName === 'Certificate #'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('RapNet Price')" ng-class="{'dt-selected-property': (propertyName === 'RapNet Price'), 'dt-property': (propertyName !== 'RapNet Price')}">
				Price
				<span class="sortorder ng-hide" ng-show="propertyName === 'RapNet Price'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('RapNet Discount %')" ng-class="{'dt-selected-property': (propertyName === 'RapNet Discount %'), 'dt-property': (propertyName !== 'RapNet Discount %')}">
				Discount %
				<span class="sortorder ng-hide" ng-show="propertyName === 'RapNet Discount %'" ng-class="{reverse: reverse}"></span>
			  </th>
			  <th class="dt-th dt-unselectable dt-property">
				Image
			  </th>
			  <th class="dt-th dt-unselectable dt-property" ng-click="sortBy('Pair Stock #')" ng-class="{'dt-selected-property': (propertyName === 'Pair Stock #'), 'dt-property': (propertyName !== 'Pair Stock #')}">
				Pair Stock #
				<span class="sortorder ng-hide" ng-show="propertyName === 'Pair Stock #'" ng-class="{reverse: reverse}"></span>
			  </th>
			</tr>
			</tbody><tbody>
				<!-- ngRepeat: gem in gems | filter:search.func | orderBy:predicate:reverse -->
			</tbody>
			</table>
		</div>
	</div>
</div>