@charset "utf-8";
/* CSS Document */
.gap {
    height: 10px;
}
/* import bootstrap glyphicons */
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
/*sign in*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.heading-btns {
    margin-bottom: 10px;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.alert {
    padding: 10px !important;
	}
	.close {
    margin-top: -20px!important;
}
.action_model .modal-header{
  background: #337ab7 none repeat scroll 0 0;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    padding: 0 15px;
    text-align: center;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.msg {
    background-color: #5cb85c;
    border-left: 4px solid #ffba00;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    margin: 25px 20px 0 2px;
    padding: 11px 15px;
    text-align: left;
	width:100%;
	color:#fff;
}
.create.btn-warning:hover {
    color: #fff !important;
}
.addnew-product {

    margin-bottom: 5px;

}
/*///////////////contact///////////////////////*/
#drop-btn {
 background-color: #f0ad4e;
color: white;
padding: 2px 5px;
border: none;
border-radius: 4px;
margin-bottom: 4px;
}

#dropdown_cont {
  position: relative;
  display: inline-block;
}

.dropdown_cont-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_cont-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.visible {
   display: block;   
}
.dropdown_cont-content a:hover {background-color: #ddd;}

#dropdown_cont:hover .dropdown_cont-content {display: block;}

#dropdown_cont:hover #drop-btn {background-color: #f0ad4e;}
/************************sign in*/
.border
{
	border:solid 1px;
}
.editbtn
{
	float:right;
}
input#username {
    margin-bottom: 0;
}
.top-box
{
	display: block;
    overflow: hidden;
    padding: 2px;
	min-height:107px;
	position:relative;
}
.top-box > p
{
	margin:0px;
}
.top-box-bottom {
    bottom: 2px;
    position: absolute;
    right: 2px;
}
.full-select {
    height: 34px;
    width: 100%;
}
.entryCheck
{
	float:left;
}
.historyLink {
    color: #286090;
    cursor: pointer;
}
.entrylink
{
	cursor:pointer;
}
fieldset
{
	margin-bottom:15px;
}
.well
{
	display:block;
	overflow:hidden;
}


.part_list
{
	list-style:none;
	padding:0px;
	border:solid 1px;
}
.part_list > li {
    border-bottom: 1px solid;
	cursor:pointer;

    padding: 0 20px 5px;
}
.action_model .progress-bar
{
	width:100% !important;
}
.action_model label.error,
.required {
    font-size: 12px;
    color: red;
}
.action_model .intro {
	margin: 0 0 10px;
	text-align: center;
}
.action_model #wrapper {
	width: 500px;
	margin: 0 auto;
	position: relative;
}
.action_model label {
	margin-bottom: 5px;
}
.action_model fieldset {
	border: none;
	padding: 0;
    margin: 0 0 10px;
    width: 100%;
}
.action_model .submit-button {
	background: -moz-linear-gradient(center top , #FFFFFF, #2a8db4) repeat scroll 0 0 transparent;
    float: right;
    display: none;
}

.action_model .form-controls {
    clear: both;
}

.action_model .previous-fieldset {
	display: none;
	float: left;
}
.action_model .next-fieldset {
	float: right;
	background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
	cursor: pointer;
	ont-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
	  white-space: nowrap;
	  margin:10px;
	  border:none;
}
.action_model .previous-fieldset
{
	background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
	cursor: pointer;
	ont-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
	  white-space: nowrap;
	  margin:10px;
	  border:none;
}
.action_model  .submit-button
{
	background: #286090;
    border-color: #286090;
    color: #fff;
	cursor: pointer;
	ont-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
	  white-space: nowrap;
	  margin:10px;
	  border:none;
}
.action_model a.next-fieldset, .action_model
a.previous-fieldset {
	color: #ccc;
}

.action_model .clear {
	clear: both;
}
.action_model .progress {
	border-bottom: 1px solid #EEECE9;
    border-top: 1px solid #FFFFFF;
    height: 20px;
}

.action_model .progress-bar {
        height: 15px;  /* Can be anything */
        position: relative;

        -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
        -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
        box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
        margin: 0px 0px 20px 0px;
        overflow: hidden;
		line-height:10px !important;
}

.action_model .progress-bar .progress-bg{
        display: block;
        height: 100%;

        background-color: rgb(43,194,83);
        background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(43,194,83)),
			color-stop(1, rgb(84,240,84))
        );
        background-image: -webkit-linear-gradient(
			center bottom,
			rgb(43,194,83) 37%,
			rgb(84,240,84) 69%
		);
        background-image: -moz-linear-gradient(
			center bottom,
			rgb(43,194,83) 37%,
			rgb(84,240,84) 69%
		);
        background-image: -ms-linear-gradient(
			center bottom,
			rgb(43,194,83) 37%,
			rgb(84,240,84) 69%
        );
        background-image: -o-linear-gradient(
			center bottom,
			rgb(43,194,83) 37%,
			rgb(84,240,84) 69%
        );
        -webkit-box-shadow:
			inset 0 2px 9px  rgba(255,255,255,0.3),
			inset 0 -2px 6px rgba(0,0,0,0.4);
        -moz-box-shadow:
			inset 0 2px 9px  rgba(255,255,255,0.3),
			inset 0 -2px 6px rgba(0,0,0,0.4);
        overflow: hidden;
        width: 0%;
}

.action_model .progress-bar .progress-text {
    position: absolute;
    left: 50%;
    top: 2px;
    z-index: 10;
}
.action_model .progress-bar
{
	width:100%;
}
.pp_p {
    display: block;
    min-height: 250px;
    overflow: hidden;
    padding: 20px 20px 0;
    width: 100%;
}
.pp_img img {
     height: 160px;
    width: 100%;
}
.product_list_a {
    display: block;
    overflow: hidden;
}
.row.entry_row {
    padding: 14px;
}

/*-------------Models------------------*/
.history-cont {
    /*border-bottom: 1px solid #ccc;
    margin-bottom: 20px;*/
}

.new_fields .btn-group {
    width: 100%;
}

.new_fields .multiselect {
    width: 100%;
}
.new_fields .multiselect-container {
    width: 100%;
}
.new_fields .multiselect-selected-text {
    float: left;
}
.new_fields .caret {
    float: right;
    margin: 7px 0;
}
.ui-tooltip .ui-tooltip-content{
    max-width: 350px;
    width: 350px;
    padding: 1%;
    overflow: hidden;
}
.ui-tooltip-content .customer_tooltip {
    width: 300px;
}
.addnew_entry_model
{
	width:940px;
}
.instruction
{
	display:none;
}
#hideIns
{
	display:none;
	cursor:pointer;
}
#showIns
{
	cursor:pointer;
}
.part_list {
    height: 170px;
    overflow: scroll;
}
/*-------------Media Uploader------------------*/
#crmMediaUploader .modal-dialog {
    width: 60%;
}
.col-md-4.medImg {
    display: block;
    overflow: hidden;
}
#medUpload > input {
    display: block;
    overflow: hidden;
    width: 100%;
}
.medImg img {
    width: 100%;
}
#medResp {
    border: 1px solid #e5e5e5;
    height: 400px;
    overflow: scroll;
}
.mailAttach > img {
    margin-left: 22px;
}
/*-------------tabs------------------*/
#tabs
{
	display:block;
	overflow:hidden;
}
/*-------------Models------------------*/
.assign_box {
    padding: 14px;
}
#p_prop {
    border: 1px solid #ccc;
	padding:14px;
}
.productListModel_1
{
	width:100%;
	margin:0px;
	padding-left:0px !important;
}
.productListModel_1 .modal-content
{
	padding:20px;
}
.site-frame
{
	width:380px !important;
}
/*----------------------Email Action----------------------(*/
#preview_part
{
	width:100%;
	height:170px;
	border:solid 2px #CCCCCC;
}

.top-box-bottom select {
  padding-bottom: 3px;
}
#action_instructions u {
  cursor: pointer;
}

/*-------------------Quote Action -------------------------*/
#preview_products {
    border: 2px solid #cccccc;
    height: 170px;
    width: 100%;
}
.remove {
  float: right;
}
.close_instr {
  float: right;
}
.editbutoon {
    display: block;
    overflow: hidden;
    text-align: right;
    margin-bottom: 10px;
	    margin-top: -20px;
}
#ui-id-3, #ui-id-1, #ui-id-2, #ui-id-4 {

    width: 245px !important;

}
#assignStaff, #assignCustomer, #assignSupplier, #assignSupplier-e {

    width: 100%;

}


/************************************/
.text-primary {
    cursor: pointer;
}
/************************************/
@media screen and (max-width: 991px) {
	.heading-btn
	{
		width:100% !important;
		margin-bottom: 5px;
	}
	.heading-row  .gap
	{
		height:0;
	}


}
/* tag css */

.tag-labels {
  float: left;
}
.tag-labels {
  list-style: none;
  padding: 0;
}
.tag-input:focus {
  border: medium none;
  box-shadow: none;
}
.tag-labels .tag-choice {
  background: #dee7f8 none repeat scroll 0 0;
  border: 1px solid #cad8f3;
  border-radius: 5px;
  float: left;
  margin: 0 4px 5px 1px;
  padding: 1px 7px;
}
.tag-input {
  border: medium none;
  box-shadow: none;
  margin: 0 !important;
  padding: 0 !important;
  width: auto;
}
.form-control:not(.tag-labels) {
  height: auto !important;
}
.tag-close .text-icon {
  margin-left: 6px;
}
.type_search_loader {
  float: right;
  position: absolute;
  right: 8px;
  width: 26px;
}
.or-master-value {
  padding-left: 2%;
}
.entry > ul {
  list-style: outside none circle;
  padding-left: 20px !important;
}
.afh.btn {
  padding: 3px;
}
.afh > a {
  color: #fff;
}

.cc-price {
  cursor: pointer;
}
.dropdown-menu {
  max-height: 200px;
  overflow: scroll;
}
/*--------pagination---------*/
.pagination .active {
  background: #337ab7 none repeat scroll 0 0;
  color: #fff;
}
/*------tooltip-------*/
.tooltip-li {
    position: relative;
    opacity: 1;
}

.tooltip-li .tooltiptext {
  background-color: white;
  border: 1px solid #000;
  border-radius: 6px;
  color: #000;
  left: 43%;
  padding: 2% 6%;
  position: absolute;
  text-align: left;
  visibility: hidden;
  width: auto;
  z-index: 1;
}

.tooltip-li:hover .tooltiptext {
    visibility: visible;
}
.filter-select {
    position: relative;

}

.filter-select span {
    cursor: pointer;
}

.filter-select ul {
    position: absolute;
    display: none;
    border: 1.2px outset #333;
    width: 100%;
    max-height: auto;
    z-index: 10000;
    background: white none repeat scroll 0 0;
    padding: 0 1%;
    margin: 3% 0 0 -12px !important;
}

.filter-select ul li {
    cursor: pointer;
    list-style: outside none none;
}

.filter-select ul li:hover {
    background-color: #666;
    color: #FFF;
}

.filter-select ul li:last-child {
    border-bottom: none;
}
.filter-select .down {
  float: right;
  padding-top: 1%;
}
.dropdown-menu li a .checkbox > input {
  opacity: 1 !important;
}
/* for large tooltip */
/*.large.tooltip-inner {
    max-width: 600px !important;
    width: 600px !important;
    white-space: nowrap;
}
div.tooltip-inner {
    max-width: 600px;
}*/
.proOpt-buttons {
  padding: 0.1% 1%;
}
.no-right {
  padding-right: 0;
}
.no-left {
  padding-left: 0;
}
/**cross on checkbox**/
.cross-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}
.cross-checkbox + label.cross-check-label {
  padding-left:20px;
  height:15px;
  display:inline-block;
  line-height:15px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}
.cross-checkbox:checked + label.cross-check-label {
  background-position: 0 -15px;
}
.cross-check-label{
  background-image:url('../images/lite-x-red.png');
}
.radio-inline + .radio-inline{
  margin-left: 0px !important;
}

/* radio button design */
.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}
.saving-gif {
  width: 40px;
  height: 40px;
}
.attachment-name {
  cursor: pointer;
}
.error {
	color: #b13030;
}
/* dashboard entry section */
.entry-action {
  padding: 0.5% 4%;
}
.entry-action ~ .entry-action{
  border-top: 1px solid #ccc;
}
[class="entry-action"]:last-of-type {
  border-bottom: 1px solid #ccc;
  padding: 0.5% 4%;
}
.entry-action > :first-child{
  border-bottom: none !important;
}
.entry-header-row {
  border-bottom: 1px solid #dedede;
  margin-bottom: 1%;
}
.product-specs:not(:last-child){
  border-bottom: 1px solid #dedede;
  margin: 1% 0;
}
.entry .well{
  padding: 5px 37px;
  margin-bottom: 0px;
 /* background-color: #efefef;*/
}
.entry_row p:nth-of-type(1) {
  padding-left: 2.5%;
}
.entry li {
  list-style: circle;
}
.prod-tool-container {
    padding: 0% 2%;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 25vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
.tooltip-inner {
    max-width: 100%;
    white-space: nowrap;
}
/*.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;}*/
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    /*overflow-x: visible;*/
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;

}
.tooltip span{
  position: absolute;
  z-index: 999999;
}
.ui-menu .ui-menu-item-wrapper {
/*  padding: 3px 0.6em 3px .2em !important;*/
  margin: 0px !important;
}
.deletedquotes span {
  cursor: pointer;
}
/*.c-details {
  background-color: #dfdede;
  padding: 9px 2% 0px 2.5%;
}*/
.c-details {
  background-color: #ebeaea;
  padding: 12px 5% 0px;
  margin: -5px -5%;
}
#ehCarousel .carousel-control{
  width: auto;
}
#ehCarousel .ahc-item {
  padding: 0 5%;
}
#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.please-wait {
  font-size: 18px;
  color: #fff;
  padding-top: 40vh;
}
.addanother {
   margin-top: 23px;
   color: #fff;
background-color: #5bc0de;
border-color: #46b8da;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.addminus {
   margin-top: 23px;
   color: #fff;
background-color: #5bc0de;
border-color: #46b8da;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.addchat{
 color: #fff;
background-color: #5bc0de;
border-color: #46b8da;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.addchat-{
 color: #fff;
background-color: #5bc0de;
border-color: #46b8da;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.addmore{color: #fff;
background-color: #5bc0de;
border-color: #46b8da;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;}
.addmores-{color: #fff;
background-color: #5bc0de;
border-color: #46b8da;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;}
.adddress {
  border: 1px solid #ddd;
  margin-bottom:20px}
.billing {
  border: 1px solid #ddd;}
legend{display: inline-block;
max-width: 100%;
margin-bottom: 5px;
font-weight: bold;
font-size: 14px;}
.email_f{ border: 1px solid #ddd;
margin-bottom:25px}

.remove {
  font-weight: bold;
  font-size: 20px;
  color: red;
  cursor: pointer;
}
.Remove_product {
    display: block;
    overflow: hidden;
    margin-top: 1%;
}
.remove1 {
  font-weight: bold;
  font-size: 20px;
  color: red;
  cursor: pointer;
  float:right;
}
.remove2 {
  font-weight: bold;
  font-size: 20px;
  color: red;
  cursor: pointer;
  float:right;
}
.contact{
	margin-top:5px;
}
#pri_text {
    width: 50px;
    float: left;
}
.col-md-2.primary {
    margin-top: 45px;
}
.em{ margin-top:15px}
.lge{border-bottom:none;}
.col-md-2.primary1 {
    margin-top: 45px;
}
.col-md-2.cht {
    margin: t;
    margin-top: 26px;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/pageloader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
.form-group p {
    color: red !important;
}
.form-control.radiogroup {
    float: left;
    width: 50%;
}
.form-control.comp_detail {
	 float: left;
    width: 30%;
}
.alert.alert-danger > form {
    width: 118px;
}
.dd{ padding:10px 16px;
font-size:18px;
}
.alert.alert-danger > li {
    list-style: outside none none;
     width: 158px;
}

.row p{
	margin-left:6px;
}
.demo {
    display: block;
    float: left;
    overflow: hidden;
	font-family: Helvetica !important;
	color: #202020 !important;
   font-weight: bold !important;
   font-size: 14px !important;
   font-style: normal !important;
   word-break: break-all;
}

.subject{
	display: block;
    overflow: hidden;
	font-family: Helvetica !important;
	color: #202020 !important;
   	font-weight: bold !important;
	float: left !important;
    font-size: 14px !important;
	font-style: normal !important;
	}
.date{
	display: block;
    overflow: hidden;
	font-family: Helvetica !important;
	color: #202020 !important;
   font-weight: bold !important;
   font-size: 14px !important;
   font-style: normal !important;
	}
#message{
	overflow: hidden;
	margin-top:10px;
	}
#message {
    display:none;
}
.email_view{ display:block;
		overflow:hidden;

		cursor: pointer;
		border-top:solid 1px #ccc;
		float: left;
		 border-right: 1px solid #ccc;
	}
.entry_view{
		overflow:hidden;
		width:45%;
		cursor: pointer;

	position: fixed;
   	top: 6.5em;
    right: 1em;
}

.email1_view{ display:block;
		overflow:hidden;
	}

	.product{
	width:100%
}
.bb {
    margin-left: 20px;
}
.comuni{float:right}
.entry_detail{ display:block;
		overflow:hidden;
		width:100%;
		cursor: pointer;
		float: left;
	}
.entry{margin-right: 12px;
	}
.bbb .btn {
    padding: 5px 20px;
}
.list-group-item {
    cursor: pointer;
}
.emm{ display:block;
    overflow-y: scroll;
}
button#select_email {
    float: left;
	 color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    position: fixed;
    top: 100px;
    left: 15px;
	z-index: 1;
}
.su_email{
	display:none;
	position: fixed;
    top: 136px;
    width: 500px;
    background: #ebeaea;
	border:solid 1px #ccc;
	z-index: 1;
    left: 15px;
	overflow:hidden;
	overflow-y: scroll;
	}
.em23 td, th { padding:5px}
.assig {
    padding-left: 150px;
}
.col-md-12.edata {
    padding-left: 34px;
}
.texte{display:none;
  width:100%;
  overflow:hidden;
  
}
.psd_gen{
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
     touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
   margin-top:26px;
    user-select: none; 
 }
 .instrst{
	  display: block;
    overflow: hidden;
	margin-bottom:25px;
 }
 .instrst img{
	 width:100%;
	 
 }
 .em_head {
    display: block;
    overflow: hidden;
    margin: 5px;
}
.main_msg {
    display: block;
   
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    margin: 10px;
}
.end_btn{
	display:block;
	float: right;
	/*top: 12px;*/
}
.newfea {
    background: #fcbc6e;
}
.newfea:hover{
    background: #fcbc6e;
}
.acountentrylink{float:right}
.entasign {

    background: #fff;
    border: none;
    color: red;
    font-size: 25px;

}

 .filtsearch {

    display: block;
    overflow: hidden;
    border: solid 1px #ccc;
   	padding: 20px 15px 10px 15px;
    margin-top: 20px;
    margin-bottom: 20px;

}
#other_text {
    width: 34%;
}
.em_label{display:none}
@media only screen and (max-width: 767px) {

  button#select_email {
    bottom: 8px !important;
    left: 5px;
    position: fixed;
    width: 100%;
    top: auto;
	}
  .su_email {
    bottom: 50px;
    left: 0;
    top: auto;
    width: 100%;
}
 

}
